h3 {
  color: #444444;
  font-family: Roboto;
}

.search {
  flex-direction: column;
  justify-content: space-evenly !important;
}

.search .with-border {
  width: calc(100% - 80px);
  border: 1px solid #444444;
  border-radius: 10px;
  padding: 20px;
}

.search .with-border label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}
