h3 {
  color: #444444;
  font-family: Roboto;
  margin-top: 0px;
}

.voter {
  flex-direction: column;
  justify-content: space-evenly !important;
  text-align: left !important;
}

.voter .with-border {
  width: calc(100% - 80px);
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
}

.voter .with-border label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}

.search .with-border .element-container .element {
  margin: 10px 0 0 10px;
  font-family: Roboto;
}

.search .with-border .element-container .element:last-child {
  margin-bottom: 0;
}

.search .with-border .element-container .element .element-label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 3px;
}

.search .with-border .element-container .element .element-value {
  padding-left: 10px;
  font-size: 12px;
}
